# Python Virtual Environment
venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Data & Datasets (Excluded from Git push)
dataset/
datasets/
*.zip
*.tar.gz

# Runtime User Uploads & Segmented Images
static/uploads/*
!static/uploads/.gitkeep
static/segmented/*
!static/segmented/.gitkeep

# Local SQLite Database
database.db

# System & IDE Files
.DS_Store
.vscode/
.idea/
scratch/
